



!-*- Perl extensions -*-
#include ".colors/deepblue"

! URxvt
Rxvt*loginShell: true
URxvt.borderless: false
URxvt*dynamicColors: on
URxvt.print-pipe: "cat > /dev/null"
URxvt.letterSpace: 1.25
URxvt.font xfnt:"deja vu sans mono :size=10"
URxvt.scrollBar: false
URxvt.clipboard.autocopy: true
URxvt.perl-ext-common:  ...,clipboard,...
URxvt.perl-ext-common: default,selection-to-clipboard,pasta,matcher,keyboard-select
URxvt.keysym.Control-Shift-V:     perl:pasta:paste
URxvt.clipboard.autocopy: true

! Colors  
*background:   bg  
*foreground:   fg  

*color0:      blk  
*color8:      bblk  
*color1:      red  
*color9:      bred  
*color2:      grn  
*color10:     bgrn  
*color3:      ylw  
*color11:     bylw  
*color4:      blu  
*color12:     bblu  
*color5:      mag  
*color13:     bmag  
*color6:      cyn  
*color14:     bcyn  
*color7:      wht  
*color15:     bwht  
